.Navigation {
    text-align: left;
}
.nav{
    background-color: rgb(114, 20, 114);
    
}
.App-logo {
    height: 6vmin;
    pointer-events: none;
    margin-top: 5px;
    margin-bottom: 5px;
    
   
}
button {
    margin-left: 6px;
    margin-top: 6px;
}


@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 10s linear;
    }
  }
  

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

